@model IEnumerable<AlaFortanFoni.Models.Article>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">
    <h5>Bulunan Makaleler. Makala Detayına ulaşmak için Başlıkları tıklayabilirsiniz.</h5>


    <table class="table">
        <tr>
            <th>
                @Html.Label("Kategori Adı")
            </th>
            <th>
                @Html.Label("Ekleyen Kişi")
            </th>
            <th>
                @Html.Label("Başlık")
            </th>

            <th>
                @Html.Label("Fotoğtaf")
            </th>
            <th>
                @Html.Label("Yüklenen Tarih")
            </th>
            <th>
                @Html.Label("Okunma Sayısı")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <a href="/Home/ArticleDetails/@item.ArticleId/">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>

                <td>
                    <img width="75" class="d-flex mr-3 rounded-circle" src="@item.ArticlePhoto" alt="@item.Title" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Displayed)
                </td>

            </tr>
        }

    </table>
</div>